.article {
  border-radius: var(--global-radius);
  min-width: 177px;
  box-shadow: 0px 10px 13px -4px rgba(35, 35, 95, 0.19);
  color: var(--text-color);
  min-height: 210px;
}
.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.figcaption {
  background-color: white;
  border-bottom-left-radius: var(--global-radius);
  border-bottom-right-radius: var(--global-radius);
  height: 30%;
  width: 100%;
  padding: 12px 18px;
  display: flex;
  align-items: center;
}
