.nav {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  width: var(--nav-width);
  border: 1px solid rgba(207, 207, 228, 1);
  border-radius: var(--global-radius);
  padding: 12px;
}
