.main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
  padding: 6rem;
  min-height: 100vh;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 3rem;
  }
}
