.section {
  flex: 1 1 565px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  width: calc(100% - var(--nav-width) - 20px);
  min-width: 400px;
}

@media screen and (max-width: 620px) {
  .section {
    display: flex;
    flex-wrap: wrap;
    min-width: unset;
  }
}
